.Header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-img {
  width: 42px;
  height: 54px;
  transition: all 0.3s;
  margin-right: 10px;
}

.logo-hover-effect {
  transform-origin: top;
  transform: rotate(-20deg);
}

.logo > h1 {
  z-index: 1;
  font-size: 18px;
  color: #222;
  line-height: 24px;
  font-weight: 500;
}

.nav {
  display: flex;
}

@media (min-width: 1024px) {
  .Header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
