.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  transition: height 0.5s, background-color 0.5s;
  background-color: #fff;
  padding: 0 100px;
}

.Header.sticky {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-img {
  width: 42px;
  height: 54px;
  transition: all 0.3s;
  margin-right: 10px;
}

.logo-hover-effect {
  transform-origin: top;
  transform: rotate(-20deg);
}

.logo > h1 {
  z-index: 1;
  font-size: 18px;
  color: #222;
  line-height: 24px;
  font-weight: 500;
}

.nav {
  display: flex;
  color: #222;
  line-height: 24px;
  gap: 15px;
}

.nav > li {
  font-size: 15px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.draws {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.4s;
}

.draws:hover {
  opacity: 1;
  background-color: #eee;
  border-radius: 10px;
}

.app {
  cursor: context-menu;
}

.toggleSwitch {
  width: 24px;
  height: 11px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #222;
  cursor: pointer;
  margin: 10px;
}

.toggleSwitch .toggleButton {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}

#toggle:checked ~ .toggleSwitch {
  background: #fff;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 11px);
  background: #222;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.connect_wallet {
  cursor: pointer;
  transition: 0.4s;
  background-size: 200%;
  border-radius: 10px;
  background-image: linear-gradient(
    91.08deg,
    #e3ecfb -3.34%,
    #f3d8f3 25.84%,
    #cdf1ec 50.99%,
    #f3d8f3 70%,
    #e3ecfb 105.99%
  );
  height: 40px;
}

.connect_wallet:hover {
  background-position: right center;
}
