header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  transition: height 0.5s, background-color 0.5s;
  background-color: #fff;
  padding: 0 100px;
}

header.sticky {
  height: 64px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.logo-svg {
  cursor: pointer;
  overflow: visible;
  height: 56px;
  width: 182px;
}

.logo-g {
  transition: 0.4s;
}

.logo-svg:hover .logo-g {
  transform: rotate(-23deg);
}

nav {
  display: flex;
  color: #222;
  line-height: 24px;
  gap: 15px;
}

nav > button {
  font-size: 15px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.draws {
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
}

.draws:hover {
  opacity: 1;
  background-color: #eee;
  border-radius: 10px;
}

.toggle {
  cursor: pointer;
  transition: 0.5s;
}

.toggle:hover {
  background-color: #eee;
  border-radius: 10px;
}

.toggleContainer {
  width: 24px;
  height: 12px;
  background-color: #222;
  border-radius: 30px;
  margin-left: 8px;
  position: relative;
}

.darkmodeContainer {
  background-color: #fff;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.1s;
}

.darkmode {
  transform: translateX(11px);
  background-color: #222;
}

.connect_wallet {
  cursor: pointer;
  transition: 0.4s;
  background-size: 200%;
  border-radius: 10px;
  background-image: linear-gradient(
    91.08deg,
    #e3ecfb -3.34%,
    #f3d8f3 25.84%,
    #cdf1ec 50.99%,
    #f3d8f3 70%,
    #e3ecfb 105.99%
  );
  padding: 0 16px;
  height: 40px;
}

.connect_wallet:hover {
  background-position: right center;
}

.width1024 {
  display: none;
}

.bars {
  cursor: pointer;
  padding-left: 8px;
}

.bars:hover {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

.bars-svg {
  width: 36px;
  height: 36px;
}

.modal {
  height: 272.8px;
  width: 100%;
  position: fixed;
  top: -272.8px;
  background-color: #222;
  transition: 0.3s;
  padding: 12px;
  z-index: 1;
}

.modal.modal-on {
  top: 0;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  display: none;
}

.blur.modal-on {
  display: inherit;
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: none;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  header {
    padding: 0 24px;
    height: 80px;
  }

  .nav {
    display: none;
  }

  .width1024 {
    display: inherit;
  }

  .bars:hover {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
  }
}

@media (max-width: 640px) {
  header {
    padding: 0 24px;
    height: 80px;
  }

  .nav {
    display: none;
  }

  .width1024 {
    display: inherit;
  }
}
