@font-face {
  font-family: "Formular";
  src: url("./fonts/formular-regular-trial.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Formular, system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

.font {
  font-family: sans-serif;
}

.blur {
  filter: blur(5px);
}

.b222 {
  background-color: #222 !important;
}

.cfff {
  color: #fff !important;
}

.b3a4c4a {
  background-color: #3a4c4a !important;
}

.border-top1px222 {
  border-top: 1px solid #222 !important;
}

.border1px222 {
  border: 1px solid #222 !important;
}

.border-color222 {
  border-color: #222 !important;
}

.claim_tokens-darkmode {
  background-color: #222 !important;
  color: #ffffff80 !important;
}

.ffff80 {
  fill: #ffffff80 !important;
}

.ffff {
  fill: #fff !important;
}

.b444a55 {
  background-color: #444a55 !important;
}

.b00114f {
  background-color: #00114f !important;
}

.bf5f5f533 {
  background-color: #f5f5f533 !important;
}

.b2222224d {
  background-color: #2222224d !important;
}

.chart-darkmode {
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.3),
    #3f3f3f 1px,
    #3f3f3f 17px
  ) !important;
}

.border-fff {
  border-color: #fff !important ;
}

.cfff80 {
  color: #ffffff80 !important;
}

.sfff80 {
  stroke: #ffffff80 !important;
}

.s222 {
  stroke: #222 !important;
}

.c222 {
  color: #222 !important;
}

.sfff {
  stroke: #fff !important;
}

.custom-tooltip {
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-tooltip p {
  margin: 0;
}

.custom-tooltip .date {
  font-weight: bold;
}

.custom-tooltip .total {
  margin-top: 5px;
}
