@font-face {
  font-family: "Formular";
  src: url("./fonts/formular-regular-trial.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Formular, system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

.font {
  font-family: sans-serif;
}

.blur {
  filter: blur(5px);
}

.b222 {
  background-color: #222;
}

.cfff {
  color: #fff !important;
}

.b3a4c4a {
  background-color: #3a4c4a !important;
}
