@font-face {
  font-family: "Formular";
  src: url("./fonts/formular-regular-trial.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Formular, system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
}

.App {
  height: 1000vh;
}
